.features {
    padding: 10rem 4rem;
    max-width: 1200px;
    margin: 0 auto;

    .features__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 3rem;
        align-items: stretch;
    }
}
